<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
{% include 'header.html' %}
<body>
{% include 'error.html' %}
{% include 'navbar.html' %}
<div class="container">
    <h2>Dienste</h2>
    <ul>
    {% for service in services %}
        <li>{{ service }}</li>
    {% endfor %}
    </ul>

    <h2>Namen</h2>
    <ul>
    {% for name in names %}
        <li>{{ name }}</li>
    {% endfor %}
    </ul>

    <h2>Angewendete Filter</h2>
    <table class="table">
        <tr>
            <th>Was</th>
            <th>Wie</th>
        </tr>
        <tr>
            <td>Von</td>
            <td>{{ from_date }}</td>
        </tr>
        <tr>
            <td>Bis</td>
            <td>{{ to_date }}</td>
        </tr>
        <tr>
            <td>Min Dienste</td>
            <td>{{min_services_count}}</td>
        </tr>
        <tr>
            <td>Excluded Patterns</td>
            <td>{{exclude_patterns}}</td>
        </tr>
    </table>
    <h2>Diagramme</h2>
    {% for chart_url in chart_urls %}
    <div>
        <img src="data:image/png;base64,{{ chart_url }}">
    </div>
    <hr>
    {% endfor %}

    <h2>Veranstaltungen</h2>
    <div>
        {% for eventname, occurancecount in event_names.items() %}
        <div>{{eventname}} : {{occurancecount}}</div>
        {% endfor %}
    </div>
</div>
</body>
</html>
